
.banner{
    width: 1500px;
    height: auto;
    float: center;
}
h1{
    text-align: center;
}
.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.slide img {
    width: 100%;
}

.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px;
}
.opskrifter {
    background-color: beige;
    display: flex;
    justify-content: space-between; /* Placerer elementerne jævnt mellem containerens kanter */
    align-items: center; /* Centrerer elementerne vertikalt */
    padding: 20px; /* Tilføj lidt padding for at give plads til indhold */
}

.madbillede {
    width: 25%; /* Juster størrelsen efter behov */
    margin-left: auto; /* Placer billedet til højre ved at udfylde resterende plads */
}

.opskrifter h2 {
    margin-bottom: 10px; /* Tilføj lidt luft under overskriften */
}

.opskrifter p {
    width: 50%; /* Juster bredden efter behov */
}

.opskrifterknap,
.køb-knap {
    background-color: #344235;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-top: 10px; /* Tilføj lidt luft øverst på knapperne */
}

.køb-knap {
    margin-left: auto; /* Placer knappen helt til højre */
}