.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #415242;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #415242;
    padding: 5px;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
button{
    background-color: #415242;
    color:white;
    border: none;
}

.dropdown.active > .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.links {
    display: flex;
}

.link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.link:hover {
    background-color: #344235;
}

.social-icons {
    display: flex;
}

.footer-icon {
    margin-left: 10px;
    text-decoration: none;
}

.footer-icon img {
    width: 25px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-icon img:hover {
    transform: scale(1.1);
}

.icon {
    width: 15px;
    height: 10px;
    margin-left: 5px;
}
/*Footer*/
footer {
    background-color: #415242; /* Baggrundsfarve */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 10%);
    padding: 20px; /* Indvendig afstand */
    text-align: center; /* Centreret indhold */
}

footer p {
    margin: 0; /* Fjern margen omkring teksten */
    text-align: left; /* Venstrejustér teksten */
    color: white;
}

.social-icons {
    display: flex; /* Anvend flexbox for at arrangere ikonerne */
    justify-content: flex-end; /* Justér ikonerne til højre */
}

footer a {
    margin-left: 10px; /* Tilføj en margen mellem ikonerne */
}

footer img {
    width: 40px; /* Bredde på ikoner */
    height: 40px; /* Højde på ikoner */
    border-radius: 50%; /* Runde hjørner for ikoner */
    transition: transform 0.3s ease-in-out; /* Glidende overgang ved hover */
}

footer img:hover {
    transform: scale(1.1); /* Forstør ikonen lidt ved hover */
}



/*Index side*/
.banner{
    width: 1520px;
    height: auto;
    float: center;
}

