.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.box {
    background-color: #f9ffeb;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box h2 {
    margin-top: 0;
}
.box p, ul, li {
    display: none;
}
.box.active p, ul, li {
    display: block;
}
.box a {
    display: block;
    margin-top: 10px;
}

img {
    width: 25%;
    height: auto
}
li{
    list-style: circle;

}